*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}
.container{
    background: lightgoldenrodyellow;

}
.button_container{
display: flex;
    justify-content: center;
}

button{
margin:20px 20px;
        border: 3px solid yellow;
    color: transparent;
    padding: 20px 40px;
    font-size: 28px;
    font-family: sans-serif;
    letter-spacing: 5px;
    transition: all 0.5s;
    position: relative;
}
button:before {
     display: flex;
    justify-content: center;
    align-items: center;
    color: yellow;
    background: rgb(34, 34, 34);
    font-size: 28px;
    top: 0;
    left: 100%;
    font-family: sans-serif;
    letter-spacing: 5px;
    transition: all 1s;
    height: 100%;
    width: 100%;
    position: absolute;
    transform: scale(0) rotatey(0);
    opacity: 0;
}
button:hover:before {
    transform: scale(1) rotatey(360deg);
    left: 0;
    opacity: 1;
}
.circle:after{
    content: "create circle";
}
.circle:before{
    content: "create circle";
}

.square:after{
    content: "create square";
}
.square:before{
    content: "create square";
}
button:after {

    display: flex;
    justify-content: center;
    align-items: center;
    color: yellow;
    background: rgb(34, 34, 34);
    font-size: 28px;
    top: 0;
    left: 0;
    font-family: sans-serif;
    letter-spacing: 5px;
    transition: all 1s;
    height: 100%;
    width: 100%;
    position: absolute;
    transform: scale(1) rotatey(0);
    opacity: 1;
}
button:hover:after {
    transform: scale(0) rotatey(360deg);
    left: -100%;
    opacity: 0;
}
